<div class="signup-container">
  <div class="card">
    <h2 class="header">Sign-in</h2>
    <p class="sub-header">Signin to proceed</p>
    <form [formGroup]="signInForm" (ngSubmit)="userLogin()">
      <div>
        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email" />
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" formControlName="password" />
        <div
          *ngIf="
          signInForm.get('password')?.invalid &&
            (signInForm.get('password')?.dirty ||
            signInForm.get('password')?.touched)
          "
        >
          <div *ngIf="signInForm.get('password')?.errors?.['required']">
            Password is required.
          </div>
          <div *ngIf="signInForm.get('password')?.errors?.['minlength']">
            Password must be at least 6 characters long.
          </div>
        </div>
      </div>
      <button type="submit" class="button">Submit</button>
    </form>
  </div>
</div>
